@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/Gilroy-Medium.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
}

.container {
    max-width: 945px;
    margin: 0 auto;
}

/* Header */
.page-header {
    margin-bottom: 104px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    border-bottom: 1px solid #828282;
}

.nav-item {
    padding: 30px 0;
}

.nav-link {
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.nav-link-current {
    color: #070707;
}

.header-content {
    position: relative;
    display: flex;
    margin-bottom: 39px;
}

.burger,
.burger-menu {
    display: none;
}

.close-burger {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    padding: 54px 5px;
}

.name {
    margin-top: 30px;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 59px;
}

.who-is-me {
    margin: 92px 300px 0;
    font-family: "Gilroy-Medium", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.lang {
    width: 140px;
    position: absolute;
    bottom: 70px;
    right: -35px;
    white-space: nowrap;
}

.language {
    position: absolute;
    top: 92px;
    right: -22px;
    transform: rotate(-90deg);
}

.language-link {
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #828282;
}

.language-link-current {
    color: #000000;
}

/* About me */
.about-me {
    padding-bottom: 64px;
    background-color: #f6f6f6;
}

.about-me-heading {
    padding-top: 114px;
    padding-bottom: 20px;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.about-me-text {
    margin: 0 auto;
    padding-bottom: 44px;
    font-family: "Gilroy-Medium", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.br-mobile {
    display: none;
}

/* Skills */
.skills-heading {
    margin-top: 86px;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.working-tools {
    margin-top: 56px;
    font-family: "Gilroy-Medium", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.programs-list {
    display: flex;
    justify-content: space-between;
    padding-top: 88px;
    padding-bottom: 110px;
}

.programs-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program-name {
    display: block;
    width: 80px;
    padding-top: 20px;
    padding-bottom: 34px;
    font-family: "Gilroy-Bold", "Arial", "sans-serif";
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.program-name-last {
    padding-bottom: 52px;
}

.rating span {
    padding: 0;
    font-size: 30px;
    margin: 0 3px;
    line-height: 1;
    color: lightgray;
    text-shadow: 1px 1px #bbbbbb;
}

.rating > span:before {
    content: '★';
}

.rating > span.active {
    color: black;
}

/* Portfolio */
.portfolio {
    background-color: #f6f6f6;
}

.portfolio-heading {
    padding-top: 106px;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.site-img {
    width: 100%;
    height: 100%;
    padding-top: 54px;
}

.site-link {
    display: block;
    margin: 0 auto 48px;
    padding-top: 38px;
    font-family: "Gilroy-Medium", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: underline;
    color: #070707;
}

.site-link-last {
    padding-bottom: 100px;
}

/* Footer */
.contacts {
    padding-top: 58px;
    padding-bottom: 25px;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.question {
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.button {
    display: block;
    width: 180px;
    padding: 10px 0;
    margin: 33px auto 0;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 35px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin: 0 auto;
    padding-top: 86px;
    padding-bottom: 42px;
}

.like-me {
    padding-bottom: 75px;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

/* mobile */
@media screen and (min-width:481px) and (max-width:960px) {
    .container {
        width: 100%;
        max-width: 940px;
    }

    /* burger */
    .nav-list {
        display: none;
    }

    .burger {
        display: block;
        margin-top: 67px;
        margin-left: auto;
        margin-right: 20px;
        width: 30px;
        height: 20px;
    }

    .burger-menu {
        position: relative;
        display: none;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        z-index: 10;
    }

    .burger-list {
        margin-top: 66px;
        margin-left: 25px;
    }

    .burger-item {
        padding-bottom: 50px;
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282
    }

    .burger-menu .language-link {
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282;
    }

    .lang {
        position: absolute;
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282;
        transform: rotate(90deg)
    }

    /* burger end */
    .flex {
        display: flex;
    }

    .list-container {
        display: inline-block;
        cursor: pointer;
        margin-top: 62px;
        margin-left: 165px;
    }

    .page-header {
        margin-bottom: 82px;
    }

    .header-content {
        display: block;
    }

    .name {
        padding-top: 26px;
        padding-left: 26px;
    }

    .who-is-me {
        margin: 17px 28px 0;
    }

    .my-photo {
        width: 100%;
        height: 478px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .language {
        display: none;
    }

    .about-me {
        padding-bottom: 30px;
    }

    .about-me-heading {
        padding-top: 76px;
        padding-bottom: 34px;
    }

    .about-me-text {
        width: 316px;
    }

    .about-me-text  br {
        display: none;
    }

    .about-me-text .br-mobile {
        display: inline;
    }

    .skills-heading {
        margin-top: 80px;
    }

    .working-tools {
        margin-top: 36px;
    }

    .programs-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 94px;
    }

    .programs-list li {
        min-width: 175px;
        padding: 0 15px;
    }

    .programs-list img {
        margin-top: 80px;
    }

    .portfolio-heading {
        padding-top: 76px;
        padding-bottom: 70px
    }

    .site-img  {
        padding: 78px 30px 35px;
        box-sizing: border-box;
    }

    .site-img-first {
        padding-top: 0;
    }

    .site-link {
        margin: 0;
        padding-top: 0;
    }

    .contacts {
        padding-bottom: 30px;
    }

    .button {
        margin-top: 44px;
        padding: 10px 50px;
    }

    .social {
        width: 315px;
        padding: 48px 15px 48px;
        box-sizing: border-box;
    }

    .like-me {
        padding: 10px 15px 70px;
        font-size: 15px;
    }
}

@media screen and (min-width:371px) and (max-width:480px) {
    .container {
        width: 100%;
        max-width: 480px;
    }

    /* burger */
    .nav-list {
        display: none;
    }

    .burger {
        display: block;
        margin-top: 67px;
        margin-left: auto;
        margin-right: 20px;
        width: 30px;
        height: 20px;
    }

    .burger-menu {
        position: fixed;
        display: none;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        z-index: 10;
    }

    .burger-list {
        margin-top: 66px;
        margin-left: 25px;
    }

    .burger-item {
        padding-bottom: 50px;
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282
    }

    .burger-menu .language-link {
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282;
    }

    .lang {
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282;
        transform: rotate(90deg)
    }

    .close-burger {
        display: block;
    }

    /* burger end */
    .flex {
        display: flex;
    }

    .list-container {
        display: inline-block;
        cursor: pointer;
        margin-top: 62px;
        margin-left: 165px;
    }

    .page-header {
        margin-bottom: 82px;
    }

    .header-content {
        display: block;
    }

    .name {
        padding-top: 26px;
        padding-left: 26px;
    }

    .who-is-me {
        margin: 17px 28px 0;
    }

    .my-photo {
        width: 100%;
        height: 478px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .language {
        display: none;
    }

    .about-me {
        padding-bottom: 30px;
    }

    .about-me-heading {
        padding-top: 76px;
        padding-bottom: 34px;
    }

    .about-me-text {
        width: 316px;
    }

    .about-me-text  br {
        display: none;
    }

    .about-me-text .br-mobile {
        display: inline;
    }

    .skills-heading {
        margin-top: 80px;
    }

    .working-tools {
        margin-top: 36px;
    }

    .programs-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 94px;
    }

    .programs-list li {
        min-width: 175px;
        padding: 0 15px;
    }

    .programs-list img {
        margin-top: 80px;
    }

    .portfolio-heading {
        padding-top: 76px;
        padding-bottom: 70px
    }

    .site-img  {
        padding: 78px 30px 35px;
        box-sizing: border-box;
    }

    .site-img-first {
        padding-top: 0;
    }

    .site-link {
        margin: 0;
        padding-top: 0;
    }

    .contacts {
        padding-bottom: 30px;
    }

    .button {
        margin-top: 44px;
        padding: 10px 67px;
    }

    .social {
        width: 315px;
        padding: 48px 0;
        box-sizing: border-box;
    }

    .like-me {
        padding: 0 15px 70px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (min-width:450px) and (max-width:620px) {
    .odd-item {
        margin-left: auto;
    }

    .even-item {
        margin-right: auto;
    }
}

@media screen and (min-width:371px) and (max-width:420px) {
    .programs-list {
        flex-direction: column;
    }
}

@media screen and (min-width:320px) and (max-width:370px) {
    .container {
        width: 100%;
        max-width: 374px;
    }

    /* burger */
    .nav-list {
        display: none;
    }

    .burger {
        display: block;
        margin-top: 67px;
        margin-left: auto;
        margin-right: 20px;
        width: 30px;
        height: 20px;
    }

    .burger-menu {
        position: fixed;
        display: none;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        z-index: 10;
    }

    .burger-list {
        margin-top: 66px;
        margin-left: 25px;
    }

    .burger-item {
        padding-bottom: 50px;
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282
    }

    .burger-menu .language-link {
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282;
    }

    .lang {
        font-family: "Gilroy-Bold", "Arial", sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282;
        transform: rotate(90deg)
    }

    .close-burger {
        display: block;
    }
    /* burger end */

    .flex {
        display: flex;
    }

    .list-container {
        display: inline-block;
        cursor: pointer;
        margin-top: 62px;
        margin-left: 165px;
    }

    .page-header {
        margin-bottom: 82px;
    }

    .header-content {
        display: block;
    }

    .name {
        padding-top: 26px;
        padding-left: 26px;
    }

    .who-is-me {
        margin: 17px 0 0 28px;
    }

    .language   {
        display: none;
    }

    .my-photo {
        width: 100%;
        height: 478px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .about-me {
        padding-bottom: 30px;
    }

    .about-me-heading {
        padding-top: 76px;
        padding-bottom: 34px;
    }

    .about-me-text {
        width: 316px;
    }

    .about-me-text  br {
        display: none;
    }

    .about-me-text .br-mobile {
        display: inline;
    }

    .skills-heading {
        margin-top: 80px;
    }

    .working-tools {
        margin-top: 36px;
    }

    .programs-list {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 94px;
    }

    .programs-list img {
        margin-top: 80px;
    }

    .portfolio-heading {
        padding-top: 76px;
        padding-bottom: 70px
    }

    .site-img  {
        padding: 78px 30px 35px;
        box-sizing: border-box;
    }

    .site-img-first {
        padding-top: 0;
    }

    .site-link {
        margin: 0;
        padding-top: 0;
    }

    .contacts {
        padding-bottom: 30px;
    }

    .button {
        margin-top: 44px;
        padding: 10px 50px;
    }

    .social {
        width: 315px;
        padding: 48px 15px 48px;
        box-sizing: border-box;
    }

    .like-me {
        padding: 10px 15px 70px;
        font-size: 15px;
    }
}
